APP_IDENTIFIER=com.GA.QuitERGY
APP_STORE_CONNECT_KEY_ID=YOUR_KEY_ID
APP_STORE_CONNECT_ISSUER_ID=YOUR_ISSUER_ID
APP_STORE_CONNECT_API_KEY_PATH=/absolute/path/AuthKey_ABC123XYZ.p8
# Optional: override default screenshots folder
# SCREENSHOTS_PATH=./fastlane/screenshots
